target/
/target
.idea/
*.iml
*.class
*.lst
output.txt

src/test/golang/**/*.h
src/test/golang/**/*.so

src/test/csharp/**/bin
src/test/csharp/**/obj

src/test/nodejs/**/node_modules
src/test/nodejs/**/package-lock.json
