target/
/target
.DS_STORE
.idea/
*.iml
*.class
*.lst
output.txt
__pycache__
venv
.DS_Store

src/test/golang/**/*.h
src/test/golang/**/*.so
samples/golang/**/*.h
samples/golang/**/*.so

src/test/csharp/**/bin
src/test/csharp/**/obj

src/test/nodejs/**/node_modules
src/test/nodejs/**/package-lock.json
src/test/nodejs/**/.DS_Store
samples/nodejs/**/node_modules
samples/nodejs/**/package-lock.json
samples/nodejs/**/.DS_Store
samples/cloud-run/nodejs/**/node_modules
samples/cloud-run/nodejs/**/package-lock.json
samples/cloud-run/nodejs/**/.DS_Store

src/test/ruby/**/Gemfile.lock
samples/ruby/**/Gemfile.lock
