on:
  push:
    branches:
    - main
  pull_request:
name: ci
env:
  GOOGLE_CLOUD_PROJECT: "span-cloud-testing"
  DOCKERFILE: "build/Dockerfile.ci"
  DOCKER_HOSTNAME: "us-west1-docker.pkg.dev"
  DOCKER_REPOSITORY: "spangres-artifacts-docker"
  DOCKER_IMAGE: "google-cloud-spanner-pgadapter"
  UBER_JAR_GCS_BUCKET: "spanner-client-libraries-test"
  UBER_JAR_GCS_PATH: "postgres"
  JSON_SERVICE_ACCOUNT_CREDENTIALS: ${{ secrets.JSON_SERVICE_ACCOUNT_CREDENTIALS }}
jobs:
  units:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [8, 11]
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: ${{matrix.java}}
    - run: java -version
    - run: .ci/run-with-credentials.sh units
  integration:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: 8
    - run: java -version
    - run: .ci/run-with-credentials.sh integration
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: 11
    - run: java -version
    - run: .ci/run-with-credentials.sh lint
  clirr:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: 8
    - run: java -version
    - run: .ci/run-with-credentials.sh clirr
  release:
    runs-on: ubuntu-latest
    # Only releases on the postgresql-dialect branch
    if: github.head_ref == 'postgresql-dialect'
    needs: [ units, lint, clirr, integration ]
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: 8
    - run: java -version
    - name: "Releases jdbc library"
      run: .ci/run-with-credentials.sh release
  release-docker:
    runs-on: ubuntu-latest
    # Only releases on the postgresql-dialect branch
    if: github.head_ref == 'postgresql-dialect'
    needs: [ units, lint, clirr, integration ]
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: 8
    - uses: google-github-actions/setup-gcloud@master
      with:
        project_id: ${{ env.GOOGLE_CLOUD_PROJECT }}
        service_account_key: ${{ env.JSON_SERVICE_ACCOUNT_CREDENTIALS }}
        export_default_credentials: true
    - run: java -version
    - run: .ci/run-with-credentials.sh uber-jar-build
    - run: .ci/run-with-credentials.sh docker-configure
    - run: .ci/run-with-credentials.sh docker-build
    - run: .ci/run-with-credentials.sh docker-push
  release-uber-jar:
    runs-on: ubuntu-latest
    # Only releases on the postgresql-dialect branch
    if: github.head_ref == 'postgresql-dialect'
    needs: [ units, lint, clirr, integration ]
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: 8
    - uses: google-github-actions/setup-gcloud@master
      with:
        project_id: ${{ env.GOOGLE_CLOUD_PROJECT }}
        service_account_key: ${{ env.JSON_SERVICE_ACCOUNT_CREDENTIALS }}
        export_default_credentials: true
    - run: java -version
    - run: .ci/run-with-credentials.sh uber-jar-build
    - run: .ci/run-with-credentials.sh uber-jar-release
